
.login-signup-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #2E353E;
  flex-direction: column;
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEAF3A;
  height: 80%;
  width: 80%;
  border-radius: 15px;
  border: solid #213632 4px;
  overflow: hidden;
  box-shadow: black 4px 4px 8px -2px;
  color: #213632;
}

.form-login-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-login-container {
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.image-login-container img {
  height: 100%;
  width: 100%;
  padding: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.login-card input {
    text-align: center;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
}

.login-card label{
    width: 2rem;
    display: inline-block;
}

.login-title{
    text-align: center;
}

.login-title h2{
    font-size: 60px;
}

.login-title h3{
    font-size: 20px;
}

.signup-container h2{
    font-size: 60px;
}

.signup-container h3{
    font-size: 20px;
}

.login-btn-field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-left: 25%;
}

.form-signup input {
    text-align: center;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50%;
}

.form-signup label{
    width: 2rem;
    display: inline-block;
}


.signup-container{
    text-align: center;
}

.btn-field {
    display: flex;
    align-items: center;
    margin-left: 40%;
}

