.single-show {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  position: fixed;
}

.delete-btn {
  background-color: #c93a43;
  color: #141414;
}

.images-container {
  overflow: hidden;
  margin-left: -20px;
}

.images-container img {
  height: 400px;
  width: 290px;
  object-fit: cover;
  box-shadow: black 4px 4px 4px -2px;
}

.single-container {
  width: 70%;
  border-radius: 8px;
  height: 60%;
  overflow: hidden;
  box-shadow: black 8px 5px 15px;
  background-color: #212121;
  color:#EFDF9D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.single-container .info-container {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.single-container .button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 30px 0px;
}

.single-container p {
  padding: 15px 10px;
}

.icon-button {
  align-self: flex-end;
  justify-self: start;
  margin: 15px;
  transform: scale(1.5);
  color: #1d5047;
}
.icon-button:hover {
  cursor: pointer;
  transform: scale(1.7);
  color: #c93a43;
}

@media (max-width: 800px) {
  .single-container {
    height: 90%;
    width: 90%;
    flex-direction: column;
    overflow: auto;
  }
}
