.search-cards {
  background-color: #216657;
  color: #151515;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.621);
  height: 350px;
  -webkit-transition: all 0.65s ease;
  transition: all 0.65s ease;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search-image-container {
  height: 85%;
  width: 100%;
}

.search-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-text-container {
  overflow: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: #EFDF9D;
  font-size: 13px;
  overflow: hidden;
  height: 40px;
}

.search-cards:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
